<div class="col-12 div col-lg-12 col-xl-12 col-sm-12">
        <svg class="">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="80%">Bienvenido</text>
                </symbol>
                <g>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
        </svg>
</div>

<div class="  col-12 col-sm-12">
    <h2 class="text-center">Estas invitado a iniciar en  <strong>HeroFy</strong></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, assumenda delectus eum nostrum illo fugit facere praesentium quibusdam ea omnis nulla repellat natus possimus ipsa laboriosam asperiores corporis obcaecati autem!</p>
    <button (click)="login()" class="btn btn-success btn-block btnlogin ">  Inicia Sesion</button>
</div>
<img class="imagebienvenido" src="assets/img/herofy.png"  alt="herora" width="400px" height="400px">

