<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/Musica">
      <img src="assets/img/banner-ico.png" width="30" height="30" alt="">
    HeroFy
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--el routerLinkActive="active" SIRVE PARA QUE SE RESALTE EN BLANCO LA PAGINA ABIERTA -->
      <li class="nav-item" routerLinkActive="active">
        <!--EL routerLink="search" LE INDICA A QUE ENLACE DE IR EL CLICK-->
        <a class="nav-link" routerLink="Musica">Musica</a>
      </li>
      <!--el routerLinkActive="active" SIRVE PARA QUE SE RESALTE EN BLANCO LA PAGINA ABIERTA -->
      <li class="nav-item" routerLinkActive="active"> 
        <!--EL routerLink="search" LE INDICA A QUE ENLACE DE IR EL CLICK-->
        <a class="nav-link" routerLink="Buscar">Buscar</a>
      </li>
      <li class="nav-item" routerLinkActive="active"> 
        <!--EL routerLink="search" LE INDICA A QUE ENLACE DE IR EL CLICK-->
        <a class="nav-link" routerLink="playlist">Mis Listas</a>
      </li>
      <li class="nav-item" routerLinkActive="active"> 
        <!--EL routerLink="search" LE INDICA A QUE ENLACE DE IR EL CLICK-->
        <a class="nav-link" routerLink="albums">Mis Albums</a>
      </li>
    </ul>
    <!--  <button (click)="login()" class="btn btn-success btn-sm nav-link btnnav" routerLink="login">Inicia Secion</button>  -->
    <button (click)="logout()" class="btn btn-danger btn-sm">Cerrar Sesion
    </button>
</div>
</nav>